<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
    
    <!-- header -->
      <div class="header">
        <img src="img/top.png" alt="" class="top img-responsive" />
        <img src="img/alexnder.png" alt="" class="alexnder img-responsive" />
      </div>
    <!-- end header -->
    
    <!-- main content -->
      <div class="container-fluid store_video">
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xm-1 store">
            <div class="store_bg">
              <img src="img/background_4_shops.png" alt="" class="" />
            </div>
            <div class="app_google_store">
              <a href=""><img src="img/app_store.png" alt="" class="app_store img-responsive" /></a>
              <a href=""><img src="img/google_store.png" alt="" class="google_store img-responsive" /></a>
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xm-7 video">
            <div class="video_bg video-container">
              <iframe src="//{{data.videourl}}" frameborder="0" width="560" height="315"></iframe>
            </div>  
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xm-4 share_wish_gift">
            <div class="wish">
              <img src="img/wish.png" alt="" class="img-responsive" />
            </div>
            <div class="share">
              <a href=""><img src="img/share.png" alt="" class="img-responsive" /></a>
            </div>
            <div class="gift_banner">
              <img src="img/gift_banner.png" alt="" class="img-responsive" />
            </div>
          </div>
        </div>
      </div>
    <!-- end main content -->
    
    <!-- footer -->
      <div class="bubbles">
        <img src="img/width_bubbles.png" alt="" class="img-responsive"/>
      </div>
    <!-- end footer -->
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    
    </body>
</html>
