<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="vendor/normalize-css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="vendor/modernizr/modernizr.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
		
		<!-- header -->
			<div class="header">
				<img src="img/top.png" alt="" class="top img-responsive" />
				<img src="img/alexnder.png" alt="" class="alexnder img-responsive" />
			</div>
		<!-- end header -->
		
		<!-- apps store -->
			<div class="my_apps_store">
				<a href="/send">
					<div class="store_bg">
						<img src="img/background_4_shops.png" alt="" class="" />
					</div>
					<div class="app_google_store">
						<img src="img/app_store.png" alt="" class="app_store img-responsive" />
						<img src="img/google_store.png" alt="" class="google_store img-responsive" />
					</div>
				</a>
			</div>
		<!-- end apps store -->
		
		<!-- main content -->
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xm-offset-2">
						<div class="wish"> <!-- Your wish text -->
							<img src="img/wish.png" alt="" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-10 col-xm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xm-offset-1">
						<div class="video"> <!-- video section -->
							<!-- enter your youtube video embed code -->
							<iframe width="100%" height="500" src="//{{data.videourl}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xm-offset-2">
						<div class="m_my_apps_store">
							<div class="m_store_bg">
								<img src="img/store_bg.png" alt="" class="img-responsive" />
							</div>
							<div class="m_app_google_store">
								<ul>
									<li><a href="/send"><img src="img/iphone_apps_store.png" alt="" class="app_store img-responsive" /></a></li>
									<li><a href="/send"><img src="img/google_play_store.png" alt="" class="google_store img-responsive" /></a></li>
								</ul>
							</div>
						</div>
						<div class="gift_banner">
							<a href="/send"><img src="img/gift_banner.png" alt="" class="img-responsive" /></a>
						</div>
					</div>
				</div>
			</div>
		<!-- end main content -->
		
		<!-- footer -->
			<div class="bubbles">
				<img src="img/width_bubbles.png" alt="" class="img-responsive"/>
			</div>
		<!-- end footer -->
		
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
		
    </body>
</html>
