/* This CSS for small Mobile*/
@media (max-width: 767px) {
.top {
height: 135px;
}
.bubbles {
margin-bottom: -40px;
margin-top: 0px;
}
.video iframe{
height: 335px;
}
.m_my_apps_store{
display: block;
}
.m_store_bg{
margin-top: 5%;
}
.m_store_bg img{
position: relative;
}
.m_app_google_store ul{
display:inline;
}
.m_app_google_store ul li{
display:inline-block;
list-style:none;
padding:10px;
}
.m_app_google_store ul li:first-child a img{
left: -50px;
position: absolute;
right: 50px;
top: 12px;
}
.m_app_google_store ul li:last-child a img{
left: 50px;
position: absolute;
right: -50px;
top: 12px;
}
.my_apps_store{
display:none;
}
}

/* This CSS for Tablet */
@media (min-width: 768px) {
.top {
height: 175px;
}
.m_my_apps_store{
display:none;
}
.my_apps_store{
display:block;
}
}

/* This CSS for Medium Devices */
@media (min-width: 992px) {
.top {
height: 200px;
}
.m_my_apps_store{
display:none;
}
.my_apps_store{
display:block;
}
}

/* This CSS for Large Devices */
@media (min-width: 1200px) {
.top {
height: 225px;
}
.m_my_apps_store{
display:none;
}
.my_apps_store{
display:block;
}
}